<table class="provisional gc-table table" id="myTable-demo-fr" style="background-color: white;">
 <caption>Croissance de la population dans les villes canadiennes</caption>
 <thead>
  <tr>
   <th scope="col">Ville</th>
   <th scope="col">Population en 2007</th>
   <th scope="col">Population en 2017</th>
   <th scope="col">Variation en pourcentage</th>
  </tr>
 </thead>
 <tbody>
  <tr>
   <td data-label="Ville">Toronto</td>
   <td data-label="Population en 2007">5 418 207</td>
   <td data-label="Population en 2017">6 346 088</td>
   <td data-label="Variation en pourcentage">17,1%</td>
  </tr>
  <tr>
   <td data-label="Ville">Montréal</td>
   <td data-label="Population en 2007">3 714 846</td>
   <td data-label="Population en 2017">4 138 254</td>
   <td data-label="Variation en pourcentage">11,4%</td>
  </tr>
  <tr>
   <td data-label="Ville">Vancouver</td>
   <td data-label="Population en 2007">2 218 134</td>
   <td data-label="Population en 2017">2 571 262</td>
   <td data-label="Variation en pourcentage">15,9%</td>
  </tr>
  <tr>
   <td data-label="Ville">Ottawa–Gatineau</td>
   <td data-label="Population en 2007">1 188 073</td>
   <td data-label="Population en 2017">1 377 016 </td>
   <td data-label="Variation en pourcentage">15,9%</td>
  </tr>
 </tbody>
</table>
